{% extends 'nav.html' %}

{% block extra_head %}
<title>Consumindo API</title>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
{% endblock %}

<body>
    {% block navbar %}
    <!-- Inclui a barra de navegação -->
    {% endblock %}

    <main class="container">
        {% block content %}
        <!-- Conteúdo específico da página vai aqui -->
        {% endblock %}
    </main>

    {% block extra_scripts %}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
    {% endblock %}
</body>